body {
    font-family: 'Ariel', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

header {
    background: #ebebee;
    width: 960px;
    line-height: 75px;
    text-align: center
}

nav {
    background: #ebebee;
    width: 495px;
    text-align: center;
    line-height: 75px;
    width: 960px;
}

section {
    background: #ebebeb;
    width: 495px;
    text-align: center;
    line-height: 300px;
}

article {
    background: #777;
    width: 475px;
    color: white;
    line-height: 200px;
    border: 25px;
    text-align: center;
}

aside {
    color: #ebebeb;
    width: 495px;
    line-height: 200px;
    color: white;
}